* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    * {
    scroll-behavior: smooth;
    }
  }

body {
    text-align: center;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    color:#656D78;
}

header {
    padding: 2px;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom: 1.5px solid #E6E9ED;
    z-index: 999;
}

main {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin: 10 auto;
    padding: 120px 0px 0px 0px;
    justify-content: center;
}

main .left-main {
    padding: 40px;
    width: 90%;
    display: block;
}

main .right-main {
    padding: 40px;
    width: 90%;
    display: block;
}

.logo {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.logo p {
    color: black;
}

.icon {
    background-image: url("logo_48.png");
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-size: cover;
}

.right-container {
    width: 80%;
    display: block;
    text-align: right;
}

nav {
    width: 100%;
    padding-right: 50px;
}

nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    margin-left: 10;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    color: #00BCD4; /* cyan */
}

.separator {
    border-color: #E6E9ED;
    height: 100%;
    width: 0.01rem;
    border-style: dashed;
}

main .avatar {
    width: 70%;
    border-radius: 100px;
    min-width: 120px;
}

.list-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.list-inline li a {
    text-decoration: none;
    background-color: white;
    border-color: #656D78;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    color: #656D78;
    margin-right: 10px;
}

.social-icons {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #81848f;
    text-align: center;
    border-radius: 100%;
    vertical-align: middle;
    padding: 15px 11px 21px 11px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

main {
    margin-top: 50px;
}

.blue, .red {
    opacity: 0.2;
}

main .fore {
    position: absolute;
}

main .fore .red {
    width: 40px;
    height: 40px;
    background-color: red;
    position: absolute;
    translate: 80px 10px;
}

main .fore .blue {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    translate: 10px -200px;
    border-radius: 100px;
}


.hire-button, .hire-button:hover {
    border-color: transparent;
    background-color: #E6E9ED;
    border-radius: 15px;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}

.hire-button:active {
    background-color: #656D78;
    color: white;
}

#ct-button {
    background-color: black;
    border: 0px;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}

footer {
    background-color: #E6E9ED;
    bottom: 0px;
    margin: 0px;
    padding: 20px;
    height: 300px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

footer .middle {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    
}

.progress-box {
    width: 100%;

}

.progress {
    box-shadow: none;
    height: 3px;
    background-color: #E6E9ED;;
}

.about-container {
    width: 100%;
    height: 500px;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    padding:  22px auto;
}

.progress-container {
    width: 100%;
    padding : 50px;
}

h5 {
    display: flex;
    justify-content: space-between;
}

.bg-color-base {
    background-color: #00BCD4;
    width: 87%;
    height: 2px;;
}


@media (max-width: 800px) {
    main {
        display: block;
    }

    header {
        flex-wrap: wrap;
        background-color: #00BCD4;
        height: 120px;
        border-radius: 0% 0% 20% 20%;
    }

    nav ul {
        justify-content: center;
        gap: 20px;
    }

    .logo {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .logo p {
        color: white;
    }

    nav ul li a {
        color: white;
    }
}



.social-icons:hover {
    background-color: #00BCD4;
    color: white;
    border-color: #00BCD4;
    font-weight: bold;
}

a:hover {
    border-radius: 100%;
}

.separator-dot {
    width: 100%;
    height: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-left: 63px;
    margin-top: 10px;
}

.separator-dot .dot {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: #81848f solid 1px;
    border-radius: 50%;
    align-items: center;
}

.separator-right, .separator-left {
    border-color: #E6E9ED;
    width: 45%;
    height: 2px;
    border-style: dashed;
}

.separator-right {
    align-self: flex-start;
}
.separator-left {
    align-self: flex-end;
}

.dot {
    display: flex;
    justify-content: center;
}

.circle {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}



#certificates #certificates-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

#certificates-body {
    padding: 100px;
}

.certificate-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 350px;
}

.certificate-item .logo-course img {
    object-fit: cover;
}

.c-title, .c-info, .c-date {
    margin: 1%;
}

.c-date  {
    font-size: 10pt;
}


 .cred-btn, .cred-btn:hover {
    border-radius: 2%;
    display: block;
    border: 1px solid #656D78;
    padding: 10px;
    text-decoration: none;
    color: #656D78;
}